.PlayList {
    display: felx;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: rgba(23, 23, 23, 0.7);
    box-shadow: 0 4px 2px 2px black;
}

.PlayList input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: "Montserrat", sands-serif;
    font-size: 1.55rem;
    color: #fff;
}

.PlayList-save {
    cursor: pointer;
    width: 10rem;
    padding: 0.77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #1db954;
    text-align: center;
    font-family: "Montserrat", sands-serif;
    font-size: 0.83rem;
    transition: background-color 0.25;
    color: #fff;
    font-weight: 500;
}

.PlayList-save:hover {
    background-color: rgba(65, 233, 129, 0.7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (min-width: 1020px) {
    .PlayList {
        width: 90%;
    }
}